@dominant: rgb(255, 200, 0);
@recessive: lighten(@dominant, 47%);
@edge: black;
@text: spin(darken(@dominant, 40%), 50);

html {
  background-color: @dominant;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: @text;
  line-height: 1.33;
}

@spacing: 1rem;

#outer-frame {
  width: 50rem;
  margin: 2rem auto;
  padding: @spacing;
  background-color: @recessive;
  border: 0.2rem solid @edge;
  border-radius: @spacing;
  box-shadow: @spacing @spacing @edge;
}

.inner-frame() {
  padding: @spacing;
  border: 0.1rem solid @edge;
  border-radius: @spacing / 2;
}

#chooser {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

#qualities {
  .inner-frame();
  flex: 1;
  margin-right: @spacing;
}

#storylets {
  flex: 3;
}

a.storylet {
  display: block;
  text-decoration: none;
  color: inherit;
  .inner-frame();
  margin-bottom: @spacing;
}

#event-text {
  .inner-frame();
}

.choice {
  .inner-frame();
}

.dash-banner {
  width: 100%;
  border-top: 0.3rem solid @edge;
  border-bottom: 0.3rem solid @edge;
  margin-left: -25%;
  background-color: @dominant;
  transform: rotateZ(-30deg);
  text-align: center;
  font-size: 2rem;
  display: none;
  z-index: 2;
  background-clip: padding-box; // Fix jagged edges in WebKit/Blink
}
