@dominant: rgb(255, 200, 0);
@accent1: spin(darken(@dominant, 25%), 120);
@accent2: spin(darken(@dominant, 25%), -120);
@edge: black;
@fill: white;
@text-bg: rgb(255, 250, 230);
@text-fg: rgb(0, 50, 0);

html {
  background-color: @dominant;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: @text-fg;
  line-height: 1.33;
}

@spacing: 1rem;

#outer-frame {
  width: 50rem;
  margin: 2rem auto;
  padding: @spacing;
  background-color: @fill;
  border: 0.2rem solid @edge;
  border-radius: @spacing;
  box-shadow: @spacing @spacing @edge;
}

.inner-frame() {
  padding: @spacing;
  background-color: @text-bg;
  border: 0.1rem solid @edge;
  border-radius: @spacing / 2;
}

.a-div() {
  display: block;
  text-decoration: none;
  color: inherit;
}

#chooser {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

#qualities {
  .inner-frame();
  flex: 1;
  margin-right: @spacing;
}

#storylets {
  flex: 3;
}

a.storylet {
  .a-div();
  .inner-frame();
  margin-bottom: @spacing;
}

#event-text {
  .inner-frame();
}

.choice {
  .inner-frame();
}

.dash-banner {
  width: 100%;
  border-top: 0.3rem solid @edge;
  border-bottom: 0.3rem solid @edge;
  margin-left: -25%;
  background-color: @dominant;
  transform: rotateZ(-30deg);
  text-align: center;
  font-size: 2rem;
  display: none;
  z-index: 2;
  background-clip: padding-box; // Fix jagged edges in WebKit/Blink
}
