body {
  background-color: rgb(255, 200, 0);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.33;
}

.outer-frame {
  width: 60em;
  margin: 2em auto 0 auto;
  padding: 1em;
  overflow: auto;
  background-color: white;
  border: 0.2em solid black;
  border-radius: 1em;
  box-shadow: 1em 1em black;
}

.qualities {
  width: 25%;
  float: left;
  padding: 1em;
  border: 0.1em solid black;
  border-radius: 0.5em;
}
