@dominant: rgb(255, 200, 0);
@recessive: lighten(@dominant, 47%);
@edge: black;
@text: spin(darken(@dominant, 40%), 50);

body {
  background-color: @dominant;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: @text;
  line-height: 1.33;
}

.outer-frame {
  width: 60em;
  margin: 2em auto 0 auto;
  padding: 1em;
  overflow: auto;
  background-color: @recessive;
  border: 0.2em solid @edge;
  border-radius: 1em;
  box-shadow: 1em 1em @edge;
}

.qualities {
  width: 25%;
  float: left;
  padding: 1em;
  border: 0.1em solid @edge;
  border-radius: 0.5em;
}

.persona {
  width: 100%;
  border-top: 0.3em solid @edge;
  border-bottom: 0.3em solid @edge;
  margin-left: -25%;
  background-color: @dominant;
  transform: rotateZ(-30deg);
  text-align: center;
  font-size: 2em;
}
