doctype html
html
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")

  title EXPER3 2015

  link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
  link(rel="stylesheet" href="styles/app.css")

  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js")
  script(src="scripts/app.js")

  body(ng-app="qbnApp")
    #outer-frame(ng-controller="QBN")
      #chooser(ng-hide="currentStorylet")
        #qualities
          .quality(ng-repeat="quality in qualities") {{quality.name}} is {{quality.value}}
        #storylets
          .storylet(ng-repeat="storylet in storylets") {{storylet.title}}
      #player(ng-show="currentStorylet")
        #event-text {{currentStorylet.eventText}}
        .choice(ng-repeat="choice in currentStorylet.choices")
          .text {{choice.text}}
          .requirements {{choice.requirements}}
        #end.choice(ng-hide="currentStorylet.choices") And the story goes on…
    .dash-banner LEVEL UP!!
