doctype html
html
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")

  title EXPER3 2015

  link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
  link(rel="stylesheet" href="styles/qbn.css")

  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js")
  script(src="scripts/qbn.js")

  body(ng-app="qbn")
    #game-title The Disillusionist
    #outer-frame(ng-controller="QbnEngine")
      #chooser(ng-hide="storylet")
        #qualities
          .quality(ng-repeat="quality in qualities track by quality.id")
            .name {{quality.format()}}
            .description {{quality.description}}
        choice-list#frontal-choices(choices="choices" choose="choose")
      #player(ng-show="storylet")
        #storylet-text
          .title {{storylet.title | resolve}}
          .text {{storylet.text | resolve}}
          hr(ng-show="storylet.consequenceReports.length")
          .consequence(ng-repeat="message in storylet.consequenceReports") {{message}}
        choice-list#storylet-choices(choices="storylet.choices" choose="choose")
      a#reset-save(href="" ng-click="resetSave()") Reset Game
    .dash-banner LEVEL UP!!

    script(id="choiceList" type="text/ng-template")
      a.choice(ng-repeat="choice in choices track by choice.id" href="" ng-click="choose(choice)" ng-disabled="!choice.isActive()")
        .main
          .title {{choice.title | resolve}}
          .text {{choice.text | resolve}}
          .arrow
        hr(ng-hide="choice.isActive()")
        .unsatisfied-req(ng-repeat="message in choice.unsatisfiedActiveReqs()") {{message}}
