doctype html
html(ng-app="qbnApp")
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")

  title EXPER3 2015

  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")

  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js")
  script(src="scripts/app.js")

  body
    div Placeholder {{'for ' + 'now!'}}
