doctype html
html
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible" content="ie=edge")

  title EXPER3 2015

  link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
  link(rel="stylesheet" href="styles/qbn.css")

  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js")
  script(src="scripts/qbn.js")

  body(ng-app="qbn")
    #outer-frame(ng-controller="QbnEngine")
      #chooser(ng-hide="currentStorylet")
        #qualities
          .quality(ng-repeat="quality in qualities track by quality.id") {{quality.name}} is {{quality.value}}
        #frontalChoices
          a.choice(ng-repeat="choice in choices track by choice.id" href="")
            .title {{choice.title}}
            .text {{choice.text}}
      #player(ng-show="currentStorylet")
        #event-text {{currentStorylet.text}}
        a.choice(ng-repeat="choice in currentStorylet.choices track by choice.id")
          .text {{choice.text}}
          .requirements {{choice.requirements}}
        #retreat.choice(ng-show="currentStorylet.canRetreat") On second thought, maybe not.
        #end.choice(ng-hide="currentStorylet.choices") And the story goes on…
    .dash-banner LEVEL UP!!
